/*General Styles*/ 

:root {
  --green: #a7b9a5;
  --jasmine: #f2efe5;
  --darkgreen: #003826;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  background-color: var(--jasmine);
}

p {
  margin: 25px;
  color: var(--darkgreen);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.block {
  display: inline-block;
}

/*Header and NavBar*/

header {
  display: flex;
  flex-direction: row;
  background-image: url(../images/green\ background.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
}

header h1{
  background-image: url(../images/headshot.jpg);
  background-size: cover;
  margin-left: 10px;
  width: 150px;
  display:flex;
  align-items: end;
}

nav {
  width:75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--darkgreen);
  background-color: var(--jasmine);
  margin-left: 150px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 1000;
}
nav a:hover {
  text-decoration: underline;
}

.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height:50px;
  color: var(--green);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--darkgreen);
  opacity: 0.9;
}

/*About Me*/

#about {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
  "abouthead aboutcopy";
}

#abouthead {
  grid-area: abouthead;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding-right: 10px;
  font-size: 35px;
  font-weight: 800;
  border-right: 5px solid var(--green);
}

#aboutcopy{
  grid-area: aboutcopy;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Work Section*/

#horiseon {
  background-image: url(../images/Horiseon.PNG);
  grid-area: horiseon;
}

#cheatsheet {
  background-image: url(../images/CSS\ Cheatsheet.PNG);
  grid-area: cheatsheet;
}
#garfield {
  background-image: url(../images/garfield.jpg);
  grid-area: garfield;
}

#threat {
  background-image: url(../images/address.jpg);
  grid-area: threat;
}

#eye {
  background-image: url(../images/red.jpg);
  grid-area: eye;
}

#workhead {
  grid-area: work;
  margin-right: 20px;
  padding-right: 10px;
  border-right: 5px solid var(--green);
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: 800;
  color: var(--darkgreen);
}

#workgrid {
  display:grid;
  height:1000px;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "work horiseon horiseon"
    "work horiseon horiseon"
    "work cheatsheet garfield"
    "work threat eye"
    ;
}

.worklink {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 3px solid var(--darkgreen);
  margin: 5px;
}

.heading {
  background-color: var(--green);
  opacity: 0.9;
  padding: 15px;
  height: 75px;
  display: grid;
  align-content: center;
}
.worktitle {
  color: var(--darkgreen);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.worktitle2 {
  color: var(--darkgreen);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.worksub{
  display: none;
  color: var(--darkgreen);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.worklink:hover {
  box-shadow: inset 0px 0px 8px
  var(--jasmine), 0 0 15px
  var(--jasmine);
  }

.worklink:hover .worksub {
  display: inline-block;
  margin-left: 3px;
}

/*Contact Me*/

#contact {
  display: flex;
  flex-direction: row;
  background-color: var(--darkgreen);
  margin-top: 25px;
}
#contact h1 {
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
  color: var(--jasmine);
  padding-right: 50px;
}
#contact div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact p {
  color: var(--jasmine);
}

/*Media Queries*/

@media only screen and (max-width:1068px) {
  .worktitle {
    font-size: 16px;
    font-weight: 900;
  }
  .worktitle2 {
    font-size: 12px;
    font-weight: 900;
  }
  #contact h1{
    display: inline-block;
    padding-left: 10px;
  }
  #contact div {
    display: block;
  }
}


@media only screen and (max-width:790px) {
  .hero-banner h2 {
    display: none;
  }
  nav {
    display: none;
  }
  #about {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "abouthead"
    "aboutcopy";
  }
  #abouthead, #aboutcopy, #workhead {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--green);
    border-right: none;
  }
  #workgrid {
    display: grid;
    padding: 10px;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "work"
    "horiseon"
    "cheatsheet"
    "garfield"
    "threat"
    "eye";
  }
  #contact {
    display: grid;
    grid-template-columns: 1fr;
  }
  #contact div {
    display: block;
  }
}
